@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
background-color: #2E3440;	
}

#Header { 
background-color: #3B4252;
}

h1 {
	font-family: 'Poppins', sans-serif;
	color: white;
}


a{
	  text-decoration: none;
}
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #3c81c9;
}

/* selected link */
a:active {
  color: #143c66;
} 